django-cors-headers>=4.3
djangorestframework-simplejwt>=5.3
djangorestframework>=3.14
Django>=5.0,<5.1
psycopg2-binary>=2.9
gunicorn>=21.2
dj-database-url>=2.1
python-dotenv>=1.0
-e ./my_django_packages/django-audit
-e ./my_django_packages/django-tax
-e ./my_django_packages/django-base
-e ./my_django_packages/django-ledger
